<div class="tickets">
  <p>Ficha nยบ: {{idTicket}}</p>
  <p>{{marca}}</p>
  <p>{{modelo}}</p>
  <p>{{status}}</p>
  <a href="/ficha/{{idTicket}}"><button>ABRIR</button></a>
  <a href="/pdf/{{idTicket}}"><button>Gerar PDF</button></a>
</div>