{{!-- HEAD --}}
{{#each dados}}
    <title>Veículos - {{nome}}</title>
{{/each}}
{{!-- BODY --}}
<body>
  <div class="flex-container cadastro-veiculos">
    <div>
        <div class="title">
          <h1>Cadastrar Veículo</h1>
        </div>
{{#each dados}}
       <form action="/cadastrarVeiculos/{{IdUsuario}}" method="POST" >
{{/each}}
        <div class="flex-camp">
          <input type="text" class="input" id="marca" name="marca" placeholder="Marca" required>
          <input type="text" class="input" id="modelo" name="modelo" placeholder="Modelo" required>
          <input type="number" class="input" id="ano" name="ano" placeholder="Ano" required>
          <input type="text" class="input" id="placa" name="placa" placeholder="Placa" required>
          <textarea id="anotacoes" name="anotacoes" placeholder="Anotações sobre o veiculo" cols="30" rows="5"></textarea>
          <button class="flex-camp button" type="submit">CADASTAR</button>
        </div>
      </form>
    </div>
      <div class="veiculos-cadastrados">
{{#each dados}}
       <h3 class="title-vehicles">Veículos de {{nome}}</h3>
{{/each}} 
    <table>
      <tr>
        <td class="cod-veiculo">Cod. Veiculo</td>
        <td class="cod-veiculo">Marca</td>
        <td class="cod-veiculo">Modelo</td>
        <td class="ano">Ano</td>
        <td class="placa">Placa</td>
      </tr>
{{#each vehicles}}
      <tr>
        <td>{{idVeiculo}}</td> 
        <td>{{marca}}</td> 
        <td>{{modelo}}</td> 
        <td>{{ano}}</td> 
        <td>{{placa}}</td> 
      </tr>
{{/each}} 
    </table>
  </div>
  </div>
</body>