{{!-- HEADER --}}
{{#each dados}}
  <title>{{IdUsuario}} - {{nome}}</title>
{{/each}}
{{!-- BODY --}}
<div class="flex-container user-client">
  <div class="flex-header">
    {{#each dados}}
    <section class="section-client">
      <label class="font">Cod. Cliente:</label>
        <input type="text" class="font codCliente" value="{{IdUsuario}}" disabled>
      <label class="font">Nome:</label>
        <input type="text" class="font" value="{{nome}}" disabled>
      <label class="font">Telefone:</label>
        <input type="text" class="font telfone" value="{{telefone}}" disabled>
      <label class="font">Endereço:</label>
        <input type="text" class="font endereco" value="R. {{rua}} - {{numero}} | {{bairro}} | {{cidade}} - {{uf}} | {{cep}}" disabled>
        <hr>
    </section>
    {{/each}}
  </div>
</div>
