{{!-- HEAD --}}
{{#each ticket}}
  <title>Ficha {{idTicket}}</title>
{{/each}}
{{!-- BODY --}}
<body>
   <div class="flex-container user-client">
    <div class="flex-header">
      <section class="section-client"> 
{{#each ticket}}
        <label class="font">Cod. Cliente:</label>
          <input type="text" class="font codCliente" value="{{idUsuario}}" disabled>
        <label class="font">Nome:</label>
          <input type="text" class="font" value="{{nome}}" disabled>
        <label class="font">Telefone:</label>
          <input type="text" class="font telfone" value="{{telefone}}" disabled>
        <label class="font">Endereço:</label>
          <input type="text" class="font endereco" value="R. {{rua}} - {{numero}} | {{bairro}} | {{cidade}} - {{uf}} | {{cep}}" disabled>
        <hr> 
        <label class="font">Veículo:</label>
          <input type="text" class="font" value="{{marca}} {{modelo}}" disabled>
        <label class="font">Ano:</label>
          <input type="text" class="font" value="{{ano}}" disabled>
        <label class="font">Placa:</label>
          <input type="text" class="font" value="{{placa}}" disabled>
        <label class="font">Entrada:</label>
          <input type="text" class="font" value="{{createdAt}}" disabled>
      </section>
    </div>
  <section class="flex-ticket">
    <div class="data-table">
      <div class="table-data">
        <form action="/addPeca/{{idTicket}}" method="POST">
          <button>+ Adicionar</button>
          <input type="text" class="input-quantidade" name="quantidade" placeholder="Quantidade" required>
          <input type="text" name="nome" placeholder="Peça/Serviço" required>
          <input type="text" name="valorUn" placeholder="Valor Unidade" required>
        </form>
        <form action="/concluir/{{idTicket}}" method="POST">
          <input type="text" name="garantia" placeholder="Garantia em meses" required>
          <button>Concluir e gerar PDF</button>
        </form>
      </div>
{{/each}}
      <hr>
      <table class="pdf-table">
        <tr>
          <td>Cod. Peça</td>
          <td>Quantidade</td>
          <td>Peça/Serviço</td>
          <td>Valor Unitário</td>
          <td>Data da Compra</td>
        </tr>
{{#each items}}
        <tr>
          <td>{{idItemTicket}}</td>
          <td>{{quantidade}}</td>
          <td>{{nome}}</td>
          <td>{{valorUn}}</td>
          <td>{{createdAt}}</td>
          <td><a href="/removerItem/{{idTicket}}/{{valorTot}}/{{idItemTicket}}"><button>Excluir</button></a></td>
        </tr>
{{/each}}
{{#each ticket}}
          <td>Valor Total: R$</td>
          <td>{{valorFinal}}</td>
{{/each}}
      </table>
    </div>
  </section>
  </div>
{{!-- SCRIPTS --}}
  {{!-- FAZ O CALCULO DO VALOR TOTAL --}}
    {{!-- <script src="/js/amountCalc.js"></script> --}}
</body>