{{!-- HEAD --}}
{{#each ticket}}
  <title>Ficha {{idTicket}}</title>
{{/each}}
{{!-- BODY --}}
<body>
   <div class="flex-container user-client">
    <div class="flex-header">
      <section class="section-client"> 
{{#each ticket}}
        <label class="font">Cod. Cliente:</label>
          <input type="text" class="font codCliente" value="{{idUsuario}}" disabled>
        <label class="font">Nome:</label>
          <input type="text" class="font" value="{{nome}}" disabled>
        <label class="font">Telefone:</label>
          <input type="text" class="font telfone" value="{{telefone}}" disabled>
        <label class="font">Endereço:</label>
          <input type="text" class="font endereco" value="R. {{rua}} - {{numero}} | {{bairro}} | {{cidade}} - {{uf}} | {{cep}}" disabled>
        <hr> 
        <label class="font">Veículo:</label>
          <input type="text" class="font" value="{{marca}} {{modelo}}" disabled>
        <label class="font">Ano:</label>
          <input type="text" class="font" value="{{ano}}" disabled>
        <label class="font">Placa:</label>
          <input type="text" class="font" value="{{placa}}" disabled>
         <label class="font">Status:</label>
          <input type="text" class="font" value="{{status}}" disabled>
        <label class="font">Entrada:</label>
          <input type="text" class="font" value="{{createdAt}}" disabled>
      </section>
    </div>
  <section class="flex-ticket">
    <div class="data-table">
      <form action="/addPeca/{{idTicket}}" method="POST">
        <button>+ Adicionar</button>
        <input type="text" class="input-quantidade" name="quantidade" placeholder="Quantidade">
        <input type="text" name="nome" placeholder="Peça/Serviço">
        <input type="text" name="valorUn" placeholder="Valor Unitário">
      </form>
{{/each}}
      <hr>
      <table class="table">
        <tr>
          <td>Cod. Peça</td>
          <td>Quantidade</td>
          <td>Peça/Serviço</td>
          <td>Valor Unitário</td>
          <td>Data da Compra</td>
        </tr>
{{#each items}}
        <tr>
          <td>{{idItemTicket}}</td>
          <td>{{quantidade}}</td>
          <td>{{nome}}</td>
          <td >{{valorUn}}</td>
          <td class="valor" hidden>{{valorTot}}</td>
          <td>{{createdAt}}</td>
          <td><a href="/removerItem/{{idItemTicket}}/{{idTicket}}"><button>Excluir</button></a></td>
        </tr>
{{/each}}
        <td>Valor Total: R$</td>
        <td id="valorTotal"></td>
{{#each ticket}}
       <td>Garantia:{{garantia}}</td>
       <a href="/pdf/{{idTicket}}"><button>Pdf</button></a>
{{/each}}
      </table>
    </div>
  </section>
  </div>
  {{!-- SCRIPTS --}}
    {{!-- FAZ O CALCULO DO VALOR TOTAL --}}
      <script src="/js/amountCalc.js"></script>
</body>